# 欢迎扫码关注本人微信公众号，一起成长，谢谢咯
![title](./qrcode.jpg)

In [9]:
'''
Pandas 可以说是基于 NumPy 构建的含有更高级数据结构和分析能力的工具包。
在 NumPy 中数据结构是围绕 ndarray 展开的。
在 Pandas 中的核心数据结构是 Series 和 DataFrame 。

Series 是个定长的字典序列。
Series 有两个基本属性：index 和 values。
在 Series 结构中，index 默认是 0,1,2,……递增的整数序列，
也可以指定索引，比如 index=[‘a’, ‘b’, ‘c’, ‘d’]。

'''

import pandas as pd
import numpy as np
from pandas import Series, DataFrame
x1 = Series([2,3,4,5])
x2 = Series(data=[1,2,3,4], index=['a', 'b', 'c', 'd'])
print(x1)
print(x2)

0    2
1    3
2    4
3    5
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [5]:
'''
采用字典的方式来创建 Series
'''

d = {'a':1, 'b':2, 'c':3, 'd':4}
x3 = Series(d)
print(x3)

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
'''
DataFrame 类型数据结构类似数据库表。
它包括了行索引和列索引。

'''

import pandas as pd
from pandas import Series, DataFrame
data = {'Chinese': [66, 95, 93, 90,80],'English': [65, 85, 92, 88, 90],'Math': [30, 98, 96, 77, 90]}
df1= DataFrame(data)
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei'], columns=['English', 'Math', 'Chinese'])
print(df1)
print(df2)

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    96
3       90       88    77
4       80       90    90
            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80

In [8]:
'''
数据导入和输出
Pandas 允许直接从 xlsx，csv 等文件中导入数据，也可以输出到 xlsx, csv 等文件，非常方便。

代码中的 data.xlsx 放在当前目录下
'''

import pandas as pd
from pandas import Series, DataFrame
score = DataFrame(pd.read_excel('data.xlsx'))
score.to_excel('data1.xlsx')
print(score)

                   Chinese  English    Math
ZhangFei                 1          2     4
GuanYu                   3          5     6
ZhaoYun                  7          8     9
HuangZhong              11         22    33
DianWei                 66         55    44

In [12]:
'''
在数据清洗过程中，一般都会遇到以下这几种情况：
1. 删除 DataFrame 中的不必要的列或行
2. 重命名列名 columns，让列表名更容易识别
3. 去重复的值
4. 格式问题, 更改数据格式, 数据间的空格
'''
data = {'Chinese': [66, 95, 93, 90, 80, 80],'English': [65, 85, 92, 88, 90, 90],'Math': [30, 98, 96, 77, 90, 90]}
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'ZhaoYun', 'HuangZhong', 'DianWei', 'DianWei'], columns=['English', 'Math', 'Chinese'])


print(df2)

# 1. 删除 DataFrame 中的不必要的列或行, 
# 把“语文”这列删掉。
df2 = df2.drop(columns=['Chinese'])
# 想把“张飞”这行删掉。
df2 = df2.drop(index=['ZhangFei'])
print(df2)

# 重命名
df2.rename(columns={'Math': 'ShuXue', 'English': 'YingYu'}, inplace = True)
print(df2)

# DianWei的数据是重复的
df2 = df2.drop_duplicates() #去除重复行
print(df2)

print()
print("df2['ShuXue']:")
print(df2['ShuXue'])

# 把 ShuXue 字段的值改成 str 类型，或者 int64 可以这么写：

df2['ShuXue'].astype('str') 
df2['ShuXue'].astype(np.int64)

            English  Math  Chinese
ZhangFei         65    30       66
GuanYu           85    98       95
ZhaoYun          92    96       93
HuangZhong       88    77       90
DianWei          90    90       80
DianWei          90    90       80
            English  Math
GuanYu           85    98
ZhaoYun          92    96
HuangZhong       88    77
DianWei          90    90
DianWei          90    90
            YingYu  ShuXue
GuanYu          85      98
ZhaoYun         92      96
HuangZhong      88      77
DianWei         90      90
DianWei         90      90
            YingYu  ShuXue
GuanYu          85      98
ZhaoYun         92      96
HuangZhong      88      77
DianWei         90      90

df2['ShuXue']:
GuanYu        98
ZhaoYun       96
HuangZhong    77
DianWei       90
Name: ShuXue, dtype: int64

GuanYu        98
ZhaoYun       96
HuangZhong    77
DianWei       90
Name: ShuXue, dtype: int64

In [17]:

# df2['ShuXue'].astype('str') 
# #删除左右两边空格
# df2['ShuXue']=df2['ShuXue'].map(str.strip)
# #删除左边空格
# df2['ShuXue']=df2['ShuXue'].map(str.lstrip)
# #删除右边空格
# df2['ShuXue']=df2['ShuXue'].map(str.rstrip)


# #全部大写
# df2.columns = df2.columns.str.upper()
# #全部小写
# df2.columns = df2.columns.str.lower()
# #首字母大写
# df2.columns = df2.columns.str.title()

# print(df2)

            Yingyu  Shuxue
GuanYu          85      98
ZhaoYun         92      96
HuangZhong      88      77
DianWei         90      90

In [25]:
# 追加一列
df2['test']=['a b','b c ','cdf ','de ']
print(df2)
df2['test']=df2['test'].map(str.strip)
# 去空格
print('after strip -->')
print(df2)
# 大写
df2['test']=df2['test'].map(str.upper)
print('after upper -->')
print(df2)

            Yingyu  Shuxue  test
GuanYu          85      98   a b
ZhaoYun         92      96  b c
HuangZhong      88      77  cdf
DianWei         90      90   de
after strip -->
            Yingyu  Shuxue test
GuanYu          85      98  a b
ZhaoYun         92      96  b c
HuangZhong      88      77  cdf
DianWei         90      90   de
after upper -->
            Yingyu  Shuxue test
GuanYu          85      98  A B
ZhaoYun         92      96  B C
HuangZhong      88      77  CDF
DianWei         90      90   DE

In [27]:
df2['testNull']=['a b','b c ','cdf ', None]
print(df2)

            Yingyu  Shuxue test testNull
GuanYu          85      98  A B      a b
ZhaoYun         92      96  B C     b c
HuangZhong      88      77  CDF     cdf
DianWei         90      90   DE     None

In [31]:
# 查找空值
print(df2.isnull())

            Yingyu  Shuxue   test  testNull
GuanYu       False   False  False     False
ZhaoYun      False   False  False     False
HuangZhong   False   False  False     False
DianWei      False   False  False      True

In [34]:
#  查找哪列存在空值
print(df2.isnull().any())

Yingyu      False
Shuxue      False
test        False
testNull     True
dtype: bool

In [37]:
'''
#  apply()    是pandas里DataFrame的函数，可以针对DataFrame中的行数据或列数据应用操作。
#  applymap() 是pandas里DataFrame的函数，但是它对DataFrame中所有的元素应用操作。
# map() 是python自带的函数，但它在DataFrame中可以直接使用**.map()**后缀的方式调用，
由于只能直接对序列元素的操作，所以必须对DataFrame的某列 (只针对于列) 应用操作。
'''

# 使用 apply 函数对数据进行清洗
df2['name'] = df2.index
print(df2)
df2['name'] = df2['name'].apply(str.upper)
print('\nafter apply uppper')
print(df2)

            Yingyu  Shuxue test testNull        name
GuanYu          85      98  A B      a b      GuanYu
ZhaoYun         92      96  B C     b c      ZhaoYun
HuangZhong      88      77  CDF     cdf   HuangZhong
DianWei         90      90   DE     None     DianWei

after apply uppper
            Yingyu  Shuxue test testNull        name
GuanYu          85      98  A B      a b      GUANYU
ZhaoYun         92      96  B C     b c      ZHAOYUN
HuangZhong      88      77  CDF     cdf   HUANGZHONG
DianWei         90      90   DE     None     DIANWEI

In [39]:
# 定义自定义函数，用apply处理数据
def double_df(x):
           return 2*x
df2['Shuxue'] = df2['Shuxue'].apply(double_df)
print('after double-->')
print(df2)

after double-->
            Yingyu  Shuxue test testNull        name
GuanYu          85     392  A B      a b      GUANYU
ZhaoYun         92     384  B C     b c      ZHAOYUN
HuangZhong      88     308  CDF     cdf   HUANGZHONG
DianWei         90     360   DE     None     DIANWEI

In [41]:
# 统计
df3 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
print(df3)
print(df3.describe())

   data1      name
0      0  ZhangFei
1      1    GuanYu
2      2         a
3      3         b
4      4         c
          data1
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

In [45]:
# 合并数据表
df4 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
print('\ndf4: \n\n',df4)
df5 = DataFrame({'name':['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2':range(5)})
print('\ndf5:\n\n',df5)
df6 = pd.merge(df4, df5, on='name')
print('\ndf6:\n\n',df6)

df4:

    data1      name
0      0  ZhangFei
1      1    GuanYu
2      2         a
3      3         b
4      4         c

df5:

    data2      name
0      0  ZhangFei
1      1    GuanYu
2      2         A
3      3         B
4      4         C

df6:

    data1      name  data2
0      0  ZhangFei      0
1      1    GuanYu      1

In [47]:
# 用 inner 方法合并表数据
df7 = pd.merge(df4, df5, how='inner')
print(df7)

   data1      name  data2
0      0  ZhangFei      0
1      1    GuanYu      1

In [48]:
# 用 left 方法合并表数据
df8 = pd.merge(df4, df5, how='left')
print(df8)

   data1      name  data2
0      0  ZhangFei    0.0
1      1    GuanYu    1.0
2      2         a    NaN
3      3         b    NaN
4      4         c    NaN

In [49]:
# 用 right 方法合并表数据
df9 = pd.merge(df4, df5, how='right')
print(df9)

   data1      name  data2
0    0.0  ZhangFei      0
1    1.0    GuanYu      1
2    NaN         A      2
3    NaN         B      3
4    NaN         C      4

In [50]:
# 用 outer 方法合并表数据
df10 = pd.merge(df4, df5, how='outer')
print(df10)

   data1      name  data2
0    0.0  ZhangFei    0.0
1    1.0    GuanYu    1.0
2    2.0         a    NaN
3    3.0         b    NaN
4    4.0         c    NaN
5    NaN         A    2.0
6    NaN         B    3.0
7    NaN         C    4.0

In [56]:
'''
上面合并数据表，就非常像SQL的处理了

真的有 pandasql 哦！

安装命令：pip install pandasql
'''

import pandas as pd
from pandas import DataFrame
from pandasql import sqldf, load_meat, load_births
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
print('\n',df1,'\n')
pysqldf = lambda sql: sqldf(sql, globals())
sql = "select * from df1 where name ='a'"
print(pysqldf(sql))

    data1      name
0      0  ZhangFei
1      1    GuanYu
2      2         a
3      3         b
4      4         c

   data1 name
0      2    a

In [57]:
'''
练习题
使用 Pandas 中的 DataFrame 进行创建，并对数据进行清洗。同时新增一列“总和”计算每个人的三科成绩之和。

'''
scores = {'Chinese': [66, 95, 95, 90, 80, 80],
          'English': [65, 85, 92, 80, 90, 90],
          'Math': [None, 98, 96, 77, 90, 90]}
df = DataFrame(scores, index=['Zhang Fei', 'Guan Yu', 'Zhao Yun', 'Huang Zhong', 'Dian Wei','Dian Wei'],)
print(df)

             Chinese  English  Math
Zhang Fei         66       65   NaN
Guan Yu           95       85  98.0
Zhao Yun          95       92  96.0
Huang Zhong       90       80  77.0
Dian Wei          80       90  90.0
Dian Wei          80       90  90.0

In [58]:
# 去重
df = df.drop_duplicates()
print(df)

             Chinese  English  Math
Zhang Fei         66       65   NaN
Guan Yu           95       85  98.0
Zhao Yun          95       92  96.0
Huang Zhong       90       80  77.0
Dian Wei          80       90  90.0

In [59]:
# 按人求和
df['Total'] = df.sum(axis=1)
print(df)

             Chinese  English  Math  Total
Zhang Fei         66       65   NaN  131.0
Guan Yu           95       85  98.0  278.0
Zhao Yun          95       92  96.0  283.0
Huang Zhong       90       80  77.0  247.0
Dian Wei          80       90  90.0  260.0

In [60]:
# 按照科目求和
df.loc['SubjectTotal'] = df.sum(axis=0)
print(df)

              Chinese  English   Math   Total
Zhang Fei        66.0     65.0    NaN   131.0
Guan Yu          95.0     85.0   98.0   278.0
Zhao Yun         95.0     92.0   96.0   283.0
Huang Zhong      90.0     80.0   77.0   247.0
Dian Wei         80.0     90.0   90.0   260.0
SubjectTotal    426.0    412.0  361.0  1199.0

In [3]:
# Pandas 知识图，来自极客时间
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://static001.geekbang.org/resource/image/74/cd/74884960677548b08acdc919c13460cd.jpg")