https://crossincode.com/vip/homework/215/
    
##### 任务详情

###### 现有一组北京地区数据分析师的岗位数据，存于 jobs.csv 中。字段含义如下图，请按要求进行数据分析统计：

<img src='https://cdn.py2china.cn/study-group/pandas/7-1.png'/>

参考文章

①　python 去除重复行 https://blog.csdn.net/erinapple/article/details/79332780

②　pandas读取csv文件的操作 https://blog.csdn.net/Bin_1022/article/details/83413470

③　Pandas 查看数据 https://blog.csdn.net/shangboerds/article/details/83514528

④　value_counts()的基础及进阶用法 https://blog.csdn.net/Late_whale/article/details/103317396

⑤　利用GroupBy技术进行分组 https://blog.csdn.net/weixin_38168620/article/details/80100201

⑥　pandas使用sort_values排序 https://www.jianshu.com/p/d12af2b287b6

In [3]:
'''
任务一：
利用 pandas 读取 csv 格式数据文件，去除其中的重复值，并展示前部数据（阅读参考文章①②）
'''
import pandas as pd
df = pd.read_csv('.\jobs.csv')
df.drop_duplicates(inplace=True)
df.head()

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
3,数据分析师,北京美科思远环境科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,股份制,北极星招聘,不限,硕士,16000.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN
5,数据分析师,世纪易联（北京）科技有限公司,NaN,计算机/互联网/信息技术,全职,5000-8000,民营,OFweek人才网,不限,本科,6500.0
6,BI数据分析师(贝壳找房(北京)科技有限公司),贝壳找房(北京)科技有限公司,1000-2000人,数据分析师,全职,12000-20000,民营,猎聘,5-10年,本科,16000.0
7,大气源解析数据分析工程师,北京博赛德科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,个人企业,北极星招聘,1-3年,硕士,16000.0
8,数据分析师,北京陆秦网络科技有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
9,数据分析师-dell公司（北京）,北京易微管理咨询有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
10,数据分析师(国美在线),国美在线电子商务有限公司,2000-5000人,数据分析师,全职,12000-20000,上市公司,猎聘,3-5年,硕士,16000.0
11,高级数据分析工程师—故障预报方向,金风风电产业集团—客户服务中心,20-99人,质量管理/安全防护类,全职,20000-25000,民营,北极星招聘,3-5年,硕士,22500.0
12,数据分析师,北京厨芯科技有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
13,数据分析师-呼叫中心方向(优信集团),优舫(北京)信息科技有限公司,5000-10000人,数据分析师,全职,12000-20000,民营,猎聘,3-5年,本科,16000.0
14,数据分析师(小米),小米科技有限责任公司,10000人以上,数据分析师,全职,20000-25000,民营,猎聘,1-3年,本科,22500.0
15,质控中心-数据分析高级工程师,金风风电产业集团—客户服务中心,20-99人,质量管理/安全防护类,全职,20000-25000,民营,北极星招聘,3-5年,本科,22500.0
16,大数据挖掘分析师储干,深圳歌华工艺饰品有限公司,NaN,其它,全职,5000-8000,民营,OFweek人才网,不限,不限,6500.0
17,数据分析师(炫一下(北京)科技有限公司),分享一下(北京)科技有限公司,500-999人,数据分析师,全职,12000-20000,民营,猎聘,1-3年,本科,16000.0
18,数据分析师(北京乐纯悠品食品科技有限公司),北京乐纯悠品食品科技有限公司,100-499人,IT/互联网,全职,20000-25000,中外合资/合作,猎聘,3-5年,本科,22500.0
19,高级数据分析工程师-成本方向,金风风电产业集团—客户服务中心,20-99人,质量管理/安全防护类,全职,20000-25000,民营,北极星招聘,3-5年,硕士,22500.0
20,数据分析师,北京哈米科技有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
21,数据分析师(北京易点淘网络技术有限公司),北京易点淘网络技术有限公司,1000-2000人,用户运营,全职,12000-20000,民营,猎聘,1-3年,本科,16000.0
22,数据分析师(睿智合创(北京)科技有限公司),睿智合创(北京)科技有限公司,100-499人,数据分析师,全职,12000-20000,民营,猎聘,3-5年,硕士,16000.0
23,数据分析师,北京水象科技有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,硕士,10000.0
24,数据分析师,字节跳动,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
25,数据分析师7484(车好多集团),车好多旧机动车经纪(北京)有限公司,10000人以上,数据分析师,全职,12000-20000,民营,猎聘,1-3年,本科,16000.0
26,BI 数据分析师(北京未来橙网络科技有限公司),北京未来橙网络科技有限公司,100-499人,数据分析师,全职,12000-20000,民营,猎聘,3-5年,本科,16000.0
27,数据分析师,益博睿信息技术（北京）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,外商独资/办事处,OFweek人才网,不限,不限,16000.0
28,数据分析师（二手车）,汽车之家,1000-9999人,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
29,数据分析师(京东),北京京东世纪贸易有限公司,10000人以上,财务/人力资源/行政,全职,12000-20000,中外合资/合作,猎聘,3-5年,本科,16000.0
...,...,...,...,...,...,...,...,...,...,...,...
620,移动生态战略规划部数据分析产品运营师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,其他互联网+产品职位,全职,12000-20000,外商独资/办事处,猎聘,1-3年,本科,16000.0
621,大数据高级分析师(央视频融媒体发展有限公司),央视频融媒体发展有限公司,100-499人,数据分析师,全职,面议,国企,猎聘,3-5年,本科,NaN
622,大数据架构师(依托数据分析的，聚合形成个人信用码的新科技平台公司),依托数据分析的，聚合形成个人信用码的新科技平台公司,100-499人,数据架构师,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
623,高级数据分析工程师(上海铸岩信息技术有限公司),上海铸岩信息技术有限公司,100-499人,数据分析师,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
624,大数据分析工程师(佳讯飞鸿(北京)智能科技研究院有限公司),佳讯飞鸿(北京)智能科技研究院有限公司,50-99人,数据库开发工程师,全职,12000-20000,上市公司,猎聘,1-3年,硕士,16000.0
625,数据分析工程师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据分析师,全职,面议,外商独资/办事处,猎聘,不限,本科,NaN
626,用户行为研究部数据分析工程师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据分析师,全职,面议,外商独资/办事处,猎聘,不限,本科,NaN
627,数据分析工程师(中电太极(集团)有限公司),中电太极(集团)有限公司,5000-10000人,数据分析师,全职,8000-12000,国企,猎聘,3-5年,本科,10000.0
628,数据分析挖掘工程师专家(美菜),北京云杉信息技术有限公司,5000-10000人,数据库开发工程师,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
629,数据分析工程师(海博思创),北京海博思创科技有限公司,500-999人,网络工程师,全职,8000-12000,中外合资/合作,猎聘,不限,本科,10000.0
630,HR数据运营分析师(北京快手科技有限公司),北京达佳互联信息技术有限公司,5000-10000人,数据分析师,全职,面议,民营,猎聘,不限,不限,NaN
631,高级数据运营分析师运营分析主管(J11912)(58同城),北京五八信息技术有限公司,10000人以上,IT/互联网,全职,12000-20000,中外合资/合作,猎聘,3-5年,本科,16000.0
632,数据业务分析师（业务分析咨询顾问）(软通动力),软通动力信息技术(集团)有限公司,10000人以上,咨询/法律/翻译/商标/专利,全职,25000以上,上市公司,猎聘,5-10年,本科,25000.0
633,汽车金融部-数据策略分析师(汽车之家),北京齐尔布莱特科技有限公司,2000-5000人,数据分析师,全职,20000-25000,民营,猎聘,3-5年,本科,22500.0
634,大数据需求分析师(中商利高科技(北京)有限公司),中商利高科技(北京)有限公司,NaN,IT/互联网,全职,25000以上,民营,猎聘,10年以上,本科,25000.0
635,资深开发工程师 - 大数据分析(J191015001)(滴滴),北京嘀嘀无限科技发展有限公司,5000-10000人,数据分析师,全职,12000-20000,外商独资/办事处,猎聘,3-5年,本科,16000.0
636,电力行业数据分析工程师(北京志翔科技股份有限公司),北京志翔科技股份有限公司,100-499人,数据分析师,全职,12000-20000,民营,猎聘,不限,本科,16000.0
637,数据挖掘数据分析工程师(北京奇元科技有限公司),北京奇元科技有限公司,NaN,Python,全职,25000以上,民营,猎聘,3-5年,本科,25000.0
638,驾驶场景数据分析工程师(国汽(北京)智能网联汽车研究院有限公司),国汽(北京)智能网联汽车研究院有限公司,100-499人,数据分析师,全职,12000-20000,民营,猎聘,5-10年,硕士,16000.0
639,大数据分析工程师(车满满(北京)信息技术有限公司),车满满(北京)信息技术有限公司,100-499人,IT/互联网,全职,20000-25000,民营,猎聘,5-10年,本科,22500.0
640,大数据分析工程师(太和睿信),北京太和睿信企业管理顾问有限公司,100-499人,数据分析师,全职,20000-25000,民营,猎聘,5-10年,本科,22500.0
641,测试数据分析工程师(某北京新能源知名公司),某北京新能源知名公司,100-499人,销售/客服/技术支持,全职,12000-20000,上市公司,猎聘,5-10年,本科,16000.0
642,数据分析及报表开发工程师(兴业银行股份有限公司北京分行),兴业银行股份有限公司北京分行,2000-5000人,数据分析师,全职,25000以上,国企,猎聘,3-5年,本科,25000.0
643,物业行业分析师(北京中指讯博数据信息技术有限公司),北京中指讯博数据信息技术有限公司,500-999人,行业研究,全职,8000-12000,民营,猎聘,1-3年,硕士,10000.0
644,数据分析工程师(微加普惠),云南微加经济信息咨询有限公司,100-499人,数据分析师,全职,20000-25000,民营,猎聘,3-5年,本科,22500.0
645,数据分析工程师(清控紫荆),清控紫荆(北京)教育科技股份有限公司,50-99人,其他互联网+技术职位,全职,25000以上,民营,猎聘,3-5年,本科,25000.0
646,风险决策分析师-大数据方向009777(京东数字科技控股有限公司),京东数字科技控股有限公司,2000-5000人,能源/采掘/化工/环保,全职,面议,外商独资/办事处,猎聘,3-5年,硕士,NaN
647,数据分析工程师（物流规划）(旷视科技),北京旷视科技有限公司,2000-5000人,数据分析师,全职,面议,民营,猎聘,3-5年,本科,NaN
648,网络人工智能架构师大数据分析架构师(国内知名互联网企业),国内知名互联网企业,50-99人,IT/互联网,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
649,气象数据分析工程师(航天新气象科技有限公司),航天新气象科技有限公司,100-499人,数据分析师,全职,面议,国企,猎聘,不限,本科,NaN

In [17]:
'''
任务二
统计数据表中的招聘岗位都来自于哪些网站（阅读参考文章③④）

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html

pandas.Series.value_counts

Series.value_counts(self, normalize=False, sort=True, ascending=False, bins=None, dropna=True)
参数：
normalize  bool, default False
If True then the object returned will contain the relative frequencies of the unique values. 如果为True，则以百分比的形式显示

sort bool, default True
Sort by frequencies. 排序,默认是排序了的

ascending bool, default False
Sort in ascending order. 默认是降序

bins int, optional
Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data.
只适用数字数据

dropna bool, default True
Don’t include counts of NaN. 默认删除空值

Returns
Series  返回值也是 Series
 
'''

# df['source']
df['source'].value_counts()

猎聘           580
OFweek人才网     33
斗米            17
北极星招聘          5
百姓网            5
普工招聘网          4
工厂直聘网          2
康强医疗人才网        1
Name: source, dtype: int64

In [5]:
'''
任务三：
统计数据分析师这个岗位，对于工作经验的要求
'''
df['experience'].value_counts()

3-5年     232
1-3年     197
不限       142
5-10年     75
10年以上      4
Name: experience, dtype: int64

In [7]:
'''
任务四：
统计该地区数据分析岗位对于教育背景的要求
'''
df['education'].value_counts()

本科    489
不限     71
硕士     54
大专     26
初中      9
博士      1
Name: education, dtype: int64

In [9]:
'''
任务五：
请统计出不同类型公司的职位数量（阅读参考文章③④）
'''

df['company_type'].value_counts()

民营          458
上市公司         62
外商独资/办事处     45
中外合资/合作      42
国企           34
事业单位          4
个人企业          2
其它            1
公立医院          1
股份制           1
Name: company_type, dtype: int64

In [24]:
'''
任务六：
所有职位的平均工资是多少
'''

df['salary2'].mean()

14409.894688644688

In [62]:
'''
任务七：
请统计平均薪资（即 salary2）排在前 10 位的招聘公司及金额（阅读参考文章⑤⑥）
'''
# 写法一
df.groupby(['company'])['salary2'].mean().sort_values(ascending=False).head(10)

company
xx公司                         25000.0
中建材信息技术股份有限公司                25000.0
北京某互联网公司                     25000.0
北京正东金控信息服务有限公司               25000.0
北京永利范思科技有限公司                 25000.0
中网数据(北京)股份有限公司               25000.0
清控紫荆(北京)教育科技股份有限公司           25000.0
云账户技术(天津)有限公司                25000.0
以尧企业发展（上海）有限公司               25000.0
依托数据分析的，聚合形成个人信用码的新科技平台公司    25000.0
Name: salary2, dtype: float64

In [65]:
#  写法2， 比写法1好理解一点？
df['salary2'].groupby(df['company']).mean().sort_values(ascending=False).head(10)

company
xx公司                         25000.0
中建材信息技术股份有限公司                25000.0
北京某互联网公司                     25000.0
北京正东金控信息服务有限公司               25000.0
北京永利范思科技有限公司                 25000.0
中网数据(北京)股份有限公司               25000.0
清控紫荆(北京)教育科技股份有限公司           25000.0
云账户技术(天津)有限公司                25000.0
以尧企业发展（上海）有限公司               25000.0
依托数据分析的，聚合形成个人信用码的新科技平台公司    25000.0
Name: salary2, dtype: float64

In [77]:
# 写法3, 这个数据有一点不一样呢~~~
df.groupby('company').mean().sort_values(by=['salary2'],ascending=False).head(10)

                    salary2
company
xx公司                25000.0
欧科互动网络科技(北京)有限公司    25000.0
中商利高科技(北京)有限公司      25000.0
北京某互联网公司            25000.0
中建材信息技术股份有限公司       25000.0
北京奇元科技有限公司          25000.0
某互联网公司              25000.0
清控紫荆(北京)教育科技股份有限公司  25000.0
中网数据(北京)股份有限公司      25000.0
北京城市网邻信息技术有限公司      25000.0

In [78]:
'''
任务八：
请统计发布职位数排在前 10 位的招聘公司及其职位数量（阅读参考文章⑤⑥）
'''

df.groupby("company")["title"].count().sort_values(ascending=False).head(10)

company
深圳索信达数据技术有限公司          7
百度在线网络技术(北京)有限公司       7
车好多旧机动车经纪(北京)有限公司      7
海南小易到家电子商务有限公司上海分公司    6
贝壳找房(北京)科技有限公司         5
苏州皇亭电子有限公司             5
北京友信科技有限公司             4
北京字节跳动网络技术有限公司         4
北京中油瑞飞信息技术有限责任公司       4
北京百分点信息科技有限公司          4
Name: title, dtype: int64

In [79]:
df['title'].groupby(df['company']).count().sort_values(ascending=False).head(10)

company
深圳索信达数据技术有限公司          7
百度在线网络技术(北京)有限公司       7
车好多旧机动车经纪(北京)有限公司      7
海南小易到家电子商务有限公司上海分公司    6
贝壳找房(北京)科技有限公司         5
苏州皇亭电子有限公司             5
北京友信科技有限公司             4
北京字节跳动网络技术有限公司         4
北京中油瑞飞信息技术有限责任公司       4
北京百分点信息科技有限公司          4
Name: title, dtype: int64

In [82]:

df.groupby("company").count().sort_values(by=['title'],ascending=False).head(10)

,title,company_size,industry,type,salary,company_type,source,experience,education,salary2
company,,,,,,,,,,
百度在线网络技术(北京)有限公司,7,7,7,7,7,7,7,7,7,3
车好多旧机动车经纪(北京)有限公司,7,7,7,7,7,7,7,7,7,7
深圳索信达数据技术有限公司,7,7,7,7,7,7,7,7,7,7
海南小易到家电子商务有限公司上海分公司,6,6,4,6,6,6,6,6,6,6
贝壳找房(北京)科技有限公司,5,5,5,5,5,5,5,5,5,3
苏州皇亭电子有限公司,5,5,5,5,5,5,5,5,5,5
广联达科技股份有限公司,4,4,4,4,4,4,4,4,4,4
北京嘀嘀无限科技发展有限公司,4,4,4,4,4,4,4,4,4,4
北京中油瑞飞信息技术有限责任公司,4,4,4,4,4,4,4,4,4,4
北京百分点信息科技有限公司,4,4,4,4,4,4,4,4,4,4

In [83]:
df[df['company'] == "百度在线网络技术(北京)有限公司"]

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
424,贴吧业务部数据分析师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据分析师,全职,面议,外商独资/办事处,猎聘,不限,不限,NaN
513,ACG百度智能云数据挖掘分析师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据挖掘工程师,全职,25000以上,外商独资/办事处,猎聘,3-5年,本科,25000.0
515,高级数据分析工程师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据挖掘工程师,全职,20000-25000,外商独资/办事处,猎聘,不限,本科,22500.0
538,数据分析工程师 （评估方向）(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据分析师,全职,面议,外商独资/办事处,猎聘,不限,本科,NaN
620,移动生态战略规划部数据分析产品运营师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,其他互联网+产品职位,全职,12000-20000,外商独资/办事处,猎聘,1-3年,本科,16000.0
625,数据分析工程师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据分析师,全职,面议,外商独资/办事处,猎聘,不限,本科,NaN
626,用户行为研究部数据分析工程师(Baidu),百度在线网络技术(北京)有限公司,10000人以上,数据分析师,全职,面议,外商独资/办事处,猎聘,不限,本科,NaN

In [87]:
'''
任务九：
请统计出平均工资排在前 10 位的公司类型及平均工资金额（阅读参考文章⑤⑥）
'''
#  直接用去掉麻烦列的方法
df.groupby('company_type').mean().sort_values(by=['salary2'],ascending=False).head(10)

                   salary2
company_type
外商独资/办事处      17468.750000
股份制           16000.000000
民营            14378.595718
上市公司          14367.346939
事业单位          14166.666667
中外合资/合作       13357.142857
个人企业          13250.000000
国企            12846.153846
其它            10000.000000
公立医院                   NaN

In [86]:
#  方法二
df.groupby('company_type')['salary2'].mean().sort_values(ascending=False).head(10)

company_type
外商独资/办事处    17468.750000
股份制         16000.000000
民营          14378.595718
上市公司        14367.346939
事业单位        14166.666667
中外合资/合作     13357.142857
个人企业        13250.000000
国企          12846.153846
其它          10000.000000
公立医院                 NaN
Name: salary2, dtype: float64

In [89]:
df.groupby('company_type').mean()

                   salary2
company_type
上市公司          14367.346939
个人企业          13250.000000
中外合资/合作       13357.142857
事业单位          14166.666667
公立医院                   NaN
其它            10000.000000
国企            12846.153846
外商独资/办事处      17468.750000
民营            14378.595718
股份制           16000.000000